contrib/
*.pdf
*.ai
*.xlsx
*.html
processed_data/
*test*
*tmp*
config/
figure/
data/1KG
data/gencode
data/gtex
data/ld
data/population
data/qtl
data/SMR
.DS_Store
._*
.Rproj.user
.Rhistory
locuscompare.Rproj
tmp/
README.html
.httr-oauth
